<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedido Online - Lanchonete</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
  <h1>Pedido Online</h1>
  <div class="cardapio">
      <img src="{{ url_for('static', filename='images/lanches.jpg') }}" alt="Cardápio 1" onclick="abrirLightbox(this.src)">
      <img src="{{ url_for('static', filename='images/refri.jpg') }}" alt="Cardápio 2" onclick="abrirLightbox(this.src)">
  </div>

  <h2 onclick="toggleCategoria('lanches')">Lanches</h2>
  <div id="lanches" class="categoria"></div>
  <button class="adicionar" onclick="addItem('lanches')">Adicionar Lanche</button>

  <h2 onclick="toggleCategoria('salgados')">Outros Salgados</h2>
  <div id="salgados" class="categoria"></div>
  <button class="adicionar" onclick="addItem('salgados')">Adicionar Salgados</button>

  <h2 onclick="toggleCategoria('doces')">Doces</h2>
  <div id="doces" class="categoria"></div>
  <button class="adicionar" onclick="addItem('doces')">Adicionar Doce</button>

  <h2 onclick="toggleCategoria('sucos')">Sucos</h2>
  <div id="sucos" class="categoria" data-categoria="sucos"></div>
  <button class="adicionar" onclick="addItem('sucos')">Adicionar Suco</button>

  <h2 onclick="toggleCategoria('refri')">Refrigerantes</h2>
  <div id="refri" class="categoria" data-categoria="refri"></div>
  <button class="adicionar" onclick="addItem('refri')">Adicionar Refrigerante</button>

  <div class="total" id="valor-total">Total: R$ 0,00</div>

  <div class="container">

    <form id="pedido-form" action="/enviar-pedido" method="POST">
      <label for="whatsapp">Número do WhatsApp:</label>
      <input type="tel" id="whatsapp" name="whatsapp" required pattern="^\d{11}$">
      <small>Digite com DDD, só números (ex: 87981......)</small>

      <label for="resumo-pedido">Resumo do pedido:</label>
      <textarea id="resumo-pedido" name="pedido" rows="4" readonly></textarea>

      <label for="endereco">Endereço com ponto de referência: </label>
      <textarea id="endereco" name="endereco" rows="2" required></textarea>

      <label for="pagamento">Forma de Pagamento:</label>
      <select id="pagamento" name="pagamento" required>
        <option value="">Selecione</option>
        <option value="Pix">Pix (Enviar Comprovante!)</option>
        <option value="Dinheiro">Dinheiro</option>
        <option value="Cartão">Cartão</option>
      </select>

      <button type="submit">Enviar Pedido</button>

    </form>
  </div>

  <!-- Lightbox -->
  <div class="lightbox" id="lightbox" onclick="fecharLightbox()">
    <img id="lightbox-img" src="" alt="Imagem Ampliada">
  </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
  document.getElementById('pedido-form').addEventListener('submit', function(event) {
    const zap = document.getElementById('whatsapp').value.trim();
    const resumo = document.getElementById('resumo-pedido').value.trim();
    const endereco = document.getElementById('endereco').value.trim();

    if (zap === '' || resumo === '' || endereco === '') {
      alert('Por favor, preencha todos os campos obrigatórios!');
      event.preventDefault(); // Impede o envio do formulário
    }
  });
</script>


</body>
</html>
